PORT=4000
DATABASE_URL=postgresql://postgres.clexioftxncydfkvsrwz:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=noreply@sharada.edu
OTP_SECRET=sharada-school-otp
